

main{
    text-align: center;

}
main img{
    width: 100%;

}
footer{
    background-color: grey;
    text-align: center;

}
footer img{
    margin: 10px 5%;/*same as   0 50px*/
    width: 200px ;
    border-radius: 50%;
    border: 10px solid #474242;
}
body{
    margin: 0;
  }